@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,500&family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ccc;
}

.fa-spider {
    color: rgb(173, 29, 10);
    font-size: 50px;
}

header {
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top,#654a86,#534292);
    background: linear-gradient(to bottom,#654a86,#534292);
    background-color: #534292;
}

header h1 {
    text-align: center;
}

main {
    padding: 20px;
}
.bugs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
